* {
    margin: 0px;
    padding: 0px;
}

/* main {
    background-image: url(../img/86748C99-3A9B-400F-ACF8-9F73D191DC2B_1_105_c.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
} */

.containerA{
    padding: 30px;
    margin: 20px;
    height: fit-content;
    width: fit-content;
    /* border-radius: 20px; */
    box-shadow: 16px -14px 5px 0px rgb(76 76 84 / 20%);
    background-color: #3181c5bf;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    padding: 10px;
    margin: 5px;
    text-align: center;
}

input {
    /* border-radius: 25px; */
    padding: 5px;
    margin: 5px;
}



select{
    /* border-radius: 25px; */
    text-align: center;
}